.home_img {
    width: 180px;
}

input[type=file] {
    padding: 10px;
}

.title-align-center {
    text-align: center;
    font-size: 50px;
}

.w-100 {
  width: 100%;
}

.h-300 {
  height:300px!important;
}

.resize-none-text-area {
  resize: none;
}
